@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Roboto Condensed', sans-serif; */
  /* background-color: #FDFFD1; */
  /* font-family: 'DynaPuff', cursive; */
  /* background-image: linear-gradient(to right, #FFCC00, #00CD00, rgb(116, 49, 162)); */
  /* font-family: sans-serif; */
  text-transform: uppercase;
  color: #FF689F;
  height: 100%;
  /* display: flex; */
  /* flex-direction: column; */

}

/* body { 
  background-image: linear-gradient(to right, #FFCC00, #00CD00, rgb(116, 49, 162));
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nav-header-name {
  right: 0;
  /* position: absolute; */
  padding-right: 10px;
  font-style: italic;
  color: white;
}

.logo-image {
  width: 10rem;
  border-radius: 10px;
}

.card{
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  position: fixed;
  left:0px;
  bottom:0px;
  height: 100px;
  width:100%;
  color: white;
  text-align: center;
  font-family: 'Bitter', serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 12px;
  padding: 0px;
}

.social-link {
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin: 5px;
}

.social-link:hover {
  width: 50px;
  height: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap
  }

  .btn {
    background-image: linear-gradient(to right, #7431A2, #FF689F, #FFCC00, rgb(0, 205, 0));
  }